[submodule "links/recommender-system-capstone"]
	path = links/recommender-system-capstone
	url = https://github.com/rachelkoenig10/recommender-system-capstone.git
[submodule "links/SARS"]
	path = links/SARS
	url = https://github.com/mquad/sars_tutorial.git
[submodule "links/Microsoft Recommenders"]
	path = links/Microsoft Recommenders
	url = https://github.com/microsoft/recommenders.git
[submodule "links/Nvidia"]
	path = links/Nvidia
	url = https://github.com/rapidsai/deeplearning.git
[submodule "links/Nvidia RapidsAI"]
	path = links/Nvidia RapidsAI
	url = https://github.com/rapidsai/deeplearning.git
[submodule "links/Recommender System Capstone"]
	path = links/Recommender System Capstone
	url = https://github.com/rachelkoenig10/recommender-system-capstone.git
